.main-portfolio-div {
    padding: 40px;
    margin: 50px;
    justify-content: flex-start;
    align-items: flex-start;
  
  }

  #project-container{
    display: flex;  
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.208);
    border-radius: 3px;
    padding: 20px;
  }

  .single-project-container{
    border-radius: 6px;
    background-color: rgba(252, 253, 255, 0.41) ;
    margin: 30px;
    padding: 2px;
    width: 18rem;
    cursor: pointer;
  }

  .project-title{
    font-weight: bold;
    flex-wrap: wrap;
  }