.main-portfolio-div {
    padding: 40px;
    margin: 50px;
    justify-content: flex-start;
    align-items: flex-start;
  
  }

  #project-container{
    display: flex;  
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.208);
    border-radius: 3px;
    padding: 20px;
  }

  .single-project-container{
    border-radius: 6px;
    background-color: rgba(252, 253, 255, 0.41) ;
    margin: 30px;
    padding: 7px;
    width: 18rem;
    cursor: pointer;
    justify-content: center;

  }

  .project-title{
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
  }


  /* .navbar-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    justify-content: end;
    margin-right: 2rem;
    list-style: none;
    z-index: 10;
  } */

  .nav-menu.active {
      background: #6668f4;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10;
      list-style: none;
      padding: 25px;
  }